@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body{
    background: url('background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.btn1 {
    float: lef;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: default;
  }
.play-to-survive1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}
.play-to-survive2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}
.play-to-survive3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}
